html, body {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

.my_social {
  position: absolute;
  top: 75px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

h2 {
  font-weight: 100;
}

h1, h2, em {
  padding: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.flex>div {
  width: 200px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background: hsla(170, 70%, 40%, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16pt;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceAround {
  justify-content: space-around;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
